
.page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.header {
    height: 30px;
}

.grid-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
}


.flex-container {
    display: flex;
    align-items: center;
}

.nav {
    padding: 20px 20px;
    justify-content: space-between;
}


.header-link  {
    margin: 0px 8px;
    color: black;
    font-size: 0.9rem;
}

.btn-app {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0px 8px;
}

.btn-signin {
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
}


.logo {
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.search {
    /* border-radius: 45; */
    width: 550px;
    height: 2.5rem;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 1.25rem;
}

.search:hover {
    box-shadow: 2px 2px 1px lightgrey;
}


.input-search {
    width: 100%;
    height: 2.5rem;
    font-size: 1em;
    border: none;
    padding: 0;
    margin: 0;
}

.input-search:focus {
    border: none;
    outline: none;
}

.img-container {
    display: block;
    padding-top: 5px;
}

.buttongroup {
    width: 500px;
    margin: 20px auto;
    justify-content: center;
}

.btn-grey {
    margin: 6px;
    padding: 8px;
    background-color: #f8f9fa;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.btn-grey:hover {
    outline: solid 1px lightgrey;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #f2f2f2;
    justify-content: space-between;
}

.footer-link {
    margin: 0px 8px;
    color: grey;
    font-size: 0.85rem;
}